{% extends "base.html" %}

{% block left_col %}
<h1 id="main_heading">
    <i class="fa fa-scissors" style="margin-right: 10px; color:#007bff; animation: float 2s ease-in-out infinite;"></i>
    Welcome to Salon Scheduler
  </h1>
  
{% endblock %}

{% block right_col %}
<div class="form-card">
    <h2 class="section-title">Your Style, Your Time</h2>
    <p id="welcome-text">
        Welcome to the Salon Scheduler! Whether you're booking a haircut, coloring session, or spa treatment, our platform makes it easy to find the right professional and time that works best for you.
    </p>

    <p style="text-align:center; font-style: italic; margin-top: 20px;">
        “Beauty begins the moment you decide to be yourself.” – Coco Chanel
    </p>
</div>
{% endblock %}
